.input-container {
    display: flex;
    flex-direction: column;
    gap: 3px; /* Добавляет пространство между элементами */
    width: 150px;
}
.password-container {
    position: relative;
}

.password-container input[type="password"] {
    padding-right: 40px;
}

.password-container .toggle-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #999;
}
.inputWithButton {
    position: relative;
    width: 200px; /* Ширина контейнера */
}

.inputWithButton input {
    padding-right: 20px; /* Отступ справа для предотвращения перекрытия текста кнопкой */
}

.inputWithButton button {
    position: absolute;
    right: 0; /* Кнопка находится справа от инпута */
    top: 0; /* Кнопка выравнивается по верхнему краю контейнера */
}